@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(247, 201, 201, 0.694);
  color: darkslategrey;
  font-family: "Roboto", sans-serif;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  margin: 2rem;
}

.board {
  border: 1rem solid #ebebeb;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.217);
  background: #14141487;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

.squares {
  background: #c3d4cf;
  box-shadow: 2px 2px rgba(176, 176, 247, 0.197);
  border: none;
  font-size: 5rem;
  /* font-weight: 800; */
  cursor: pointer;
  outline: none;
}

.X {
  color: red;
}
.O {
  color: blue;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}

h3 {
  padding: 1rem;
}

li {
  list-style: none;
}

.info-wrapper button {
  background: #f7eded;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
}